/*reset page stylesheet*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*my css */

/*fonts*/
@font-face{
    font-family: Lato;
    src:url(fonts/lato/Lato-Regular.ttf);
}

@font-face{
    font-family: Merriweather;
    src:url(fonts/merriweather/Merriweather-Regular.ttf);
}

/*********************************************************************************
  CUSTOM
  ********************************************************************************/

body {
    font-family: Lato;
    font-size: 20px;
}

header#info {
    color: white;
    background-color: black;
    padding-top: 20px;
}

header#info .name {
    font-size: 38px;
    margin-bottom: 10px;
}
header#info .attritube{
    color: #f99f3e;
    margin-bottom:20px;
}

header#info .summary{
    font-size: 16px;
}
header#info .personal ul{
    margin-bottom: 20px;
}

header#info .personal ul li{
    font-size: 14px;
    display: inline;
    list-style: none;
    padding-right: 20px;
}
header#info .personal ul li i{
    padding-right: 10px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: #f99f3e;
    border-width: 5px;
    float: right;
}

main .title{
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    color: #f99f3e;
    border-width: 2px;
    border-style: solid;
    border-color: #f99f3e;
    text-align: left;
    padding: 5px;
}
main #education .title{
    width: 120px;
    margin-bottom: 10px;
}
main .date{
    font-family: Merriweather;
    font-size: 16px;
    color: #f99f3e;
    text-align: left;
    display: inline;
    float: right;
}
main .place{
    font-family: Merriweather;
    font-size: 16px;
    color: #f99f3e;
    text-align: right;
    display: inline;

}
main #education{
    margin-top: 10px;
 }
main .study{
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
main .uni{
    font-family: Lato;
    font-size: 21px;
    font-weight: 500;
    margin-bottom:20px;

}
main .courses ul li{
    padding-bottom: 5px;
    color: #f99f3e;
    margin-left: 25px;
}
main .courses ul li span{
    font-family: Merriweather;
    font-size:16px;
    color:black;
}
main .courses ul{
    -moz-column-count: 2;
    -moz-column-gap: 40px;
    -webkit-column-count: 2;
    -webkit-column-gap: 40px;
    column-count: 2;
    column-gap: 40px;
}
main #skills{
    margin-top: 10px;
 }
main #skills .title{
    width: 250px;
    margin-bottom: 10px;
    text-align: center;
}
main #skills ul{
    margin-right: 320px;
    list-style: none;
    text-align: right;
}
main #skills ul li{
    padding-bottom: 20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}
main #projects{
    margin-top: 30px;
}
main #projects .title{
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
}
main #projects h1{
    font-family: Lato;
    font-size: 22px;
    margin-bottom: 15px;
}
main #projects h2{
    font-family: Lato;
    font-size: 22px;
    margin-bottom: 10px;
}
main #projects h3{
    font-family: Lato;
    font-size: 22px;
    margin-bottom: 10px;
}
main #projects ul li{
    padding-bottom: 10px;
    color: #f99f3e;
    margin-left: 25px;
}
main #projects ul li span{
    font-family: Merriweather;
    font-size:16px;
    color:black;
}
main #certificates{
    margin-top: 30px;
}
main #certificates .title{
    width: 150px;
    text-align: center;
    margin-bottom: 10px
}
main #certificates h1{
    font-family: Lato;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
}
main #certificates h3{
    font-family: Merriweather;
    font-size:16px;
    color:black;
}